html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    display: flex;
    flex-flow: column;
}

#wheel-container {
    width: 30em;
    height: 30em;
    overflow: hidden;
    position: relative;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50% 50%;
}

#wheel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    transition: all ease-in 5s;
}

#wheel .item {
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    padding-right: 50%;
    padding-bottom: 7%;
    transform-origin: center center;
    clip-path: polygon(0% 0%, 100% 0%, 50% 50%, 100% 0%, 100% 100%, 0% 100%);
}

#wheel .item>b {
    /* transform: rotate(286deg); */
    padding-left: 30%;
}

#wheel .item>b>span {
    background: #fff;
    padding: 2px;
}

#arrow-right {
    clip-path: polygon(0 1%, 100% 50%, 0 100%, 19% 55%, 76% 51%, 18% 41%);
    background-color: #000;
    height: 53px;
    width: 63px;
    /* content: "test"; */
    position: absolute;
    z-index: 2;
    left: -5%;
    top: 50%;
}